.summer {
  .header {
    height: 114px;
    background: #fefcfb;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;

      span {
        font-family: 'Volkhov';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #67b83c;
        margin-left: 6px;
      }
    }
  }

  .menu {
    width: 500px;
    background: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #222222;
  }
}
